{% extends 'r_login/base.html'%}
{%block contain%}
<div class="btn">
  {% if request.user.is_authenticated %}
  <p class="h3 text-success">
  <p class="text-success h3">Username : {{request.user.username}}</p>
  <a href={% url 'Page_Reg:logout' %} type="button" class="btn"><button type="button" name="button">Log
      Out</button></a>
  </p>
  {% else %}
  <p class="text-danger h3">
    <a href={% url 'Page_Reg:signup' %} type="button" class="btn"><button type="button" name="button">Sign
        Up</button></a>
    <a href={% url 'Page_Reg:login' %} type="button" class="btn"><button type="button" name="button">Log
        In</button></a>
    {% endif %}
  </p>
</div>

</div>
</nav>

<div class="content">
  <br>
  <h1>Moment By Moment Photo Gallery</h1>
  <p>Capturing the moments that captivate your heart</p>
</div>
{%endblock%}